@charset "UTF-8";
/* CSS Document */

/*	トップページ  */
		
		#top_smp_mainban{
			width:100%;
			margin:20px 0;}
			
		#top_smp_mainban img{
			width:90%;
			margin:0 5%;
			border:1px #666666 solid;}


#guidecolumn{
	width:90% !important;
	margin:0 5% !important;}
	
#guidecolumn table{
	width:100%;
	overflow:hidden;}
	
#guidecolumn table img{
	width:100% !important;}
	
#guidecolumn th{
	width:40% !important;}
	
#guidecolumn td{
	width:60% !important;}
	
	
	
#guidecolumn_smp{
	width:90% !important;
	margin:0 5% !important;}
	
#guidecolumn_smp dl{
	width:100%;
	overflow:hidden;}
	
#guidecolumn_smp img{
	width:100% !important;}
	
#guidecolumn_smp dt{
	width:95%;
	font-weight:bold;
	padding:10px 2.5%;
	margin:10px 0;
	background-color:#EEE;}
	
#guidecolumn_smp dd{
	margin-bottom:25px;}
	
	
	