@charset "UTF-8";
/* CSS Document */

	
	
/*
***********************************
*コンテンツ
***********************************
*/	

       #mu_lp {
		   width:100%;
			font-family:"游ゴシック体", "Yu Gothic", YuGothic,   "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo, Osaka,  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
			margin:0;
			padding:0;
			text-align:left;
			font-size:13px;
			line-height:170%;
			letter-spacing:1px;
			color:#4c4c4c;
		}

			
	  #mu_pc_lp_out{
		  width:100%;
		  background-color:#dfebff;
		}
		
       #mu_pc_lp {
		   /*width:90%;*/
		   width:100%;  /* 修正 */
		   max-width:650px;
			font-family:"游ゴシック体", "Yu Gothic", YuGothic,   "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo, Osaka,  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
			margin:0 auto;
			padding:0 5%;
			text-align:left;
			font-size:13px;
			line-height:170%;
			letter-spacing:1px;
			color:#4c4c4c;
			background-color:#FFF;
		}

			
		#mu_lp img,#mu_pc_lp img{
			width:100%;
			max-width:650px;
			margin:0;
		}

	
	    #mu_top_mainvis{
			width:100vw;
		}
			
			
		/*横幅規定_共通*/		 
		
		#mu_top_element_in,#mu_top_doctor_in,#mu_top_voice_in,#concern1_in,#mu_top_element2_in,#mu_top_doctor3_in,#element2_list,mu_top_explain_list2,#mu_last01_in,#mu_made{
			width:100%;
			max-width:100%;
			margin:0 auto;
			text-align:center;}
			
		/*トップベース青背景*/	
		
        #mu_top_doctor,#mu_top_doctor3,#mu_top_explain_list1,#mu_last01,#mu_month{
			 background-color:#DDEAFF;}
		
	
		/*トップ画像下テキスト*/			
		#maincopy{
			width:100%;
			text-align:center;
			background-color:#283554;
			padding:10px 0 !important;
			font-size:14px;
			font-weight:bold;
			letter-spacing:2px;
			color:#FFF;}
		
		
		/*成分表記_トップ*/	
		
		#mu_top_element{
			background-color:#FFF;}
		


			 
		/*お客様の声_トップ*/
			 
	    #mu_top_voice{
			background-color:#e7e7e5;}
			 
			 
			 
		/*購入分岐ボタン*/	
		 
	    .mu_top_buy{
			background-color:#DDEAFF;
			/*width:100%;  変更した */
			padding:50px 5%;
			font-size:14px;
			margin-bottom: 15px;
			margin-top: 15px;
			}
		
		.mu_top_buy ul li{
			width:100%;
			float:none;
			margin-bottom:30px;
			background-color:#FFF;}
			
		.mu_top_buy ul li:nth-child(2n){
     		margin-bottom:0;}
		
		.mu_top_buy ul:after{display:block;clear:both;content:"";}	
		


		
		
		.single_buy_btn{
			background-color:#CBD79C;
			color:#263977;
			font-weight:bold;
			padding:20px 3%;
			width:100%;
			text-align:center;}
			
		a:hover .single_buy_btn {
			background-color:#9DD6A5;}	
			
		.monthly_buy_btn{
			background-color:#F7C1C1;
			color:#263977;
			font-weight:bold;
			padding:20px 3%;
			width:100%;
			text-align:center;}
			
		a:hover .monthly_buy_btn {
			background-color:#F4E6C1;}	
		

		/*悩み*/	
	    #concern1{
			width:100%;
			background-color:#4D5A74;}		
			
	     #concern2{
			width:100%;
			height:auto;
			background-image:url(../img/mindup/concern/concern02_bk.jpg);
			background-size: cover;
			background-position:center;
			background-repeat:no-repeat;
			}			 
			 
			
		#concern2_in{
			width:100%;
			max-width:735px;
			margin:0 auto;
			text-align:center;}
		
	
	
	
		/*ドクター経験談*/		
		
		
		#mu_dctr_talk{
			width:100%;}
			
		.pt_section:after{display:block;clear:both;content:"";}	
		
		
		.pt_section{ margin:40px 0;}
		
		.pt_left{
			width:100%;
			float:none;
			margin-right:0;
			margin-bottom:30px;}
			
		.txt_right{
			width:100%;
			float:none;}
		
		#mu_dctr_talk2 dl{
			width:90%;
			margin:30px 5%;}
		
		#mu_dctr_talk2 dt{
			width:100%;
			text-align:center;
			background-color:#283554;
			padding:10px 5%;
			font-weight:bold;
			letter-spacing:1px;
			font-size:13px;
			color:#FFF;
			margin:20px 0 20px 0;
			border-radius: 5px;        /* CSS3草案 */  
			-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
			-moz-border-radius: 5px;   /* Firefox用 */}
			
		#mu_dctr_talk2 dd{
			width:100%;
			margin:0 2%;}
			
		#mu_dctr_talk1:after{display:block;clear:both;content:"";}	
		
		#mu_dctr_prof{
			width:38%;
			float:left;
			margin-right:5%;}
			
			
		.txt_strong{
			font-size:15px;
			font-weight:bold;
			margin:30px 0;
			color:#283554;
			line-height:200%;}
			
			
		#mu_prof_detail{
			background-color:#EEE;
			padding:30px 8%}
			
		.doc_name{
			font-size:18px;
			font-weight:bold;
			margin:5px 0 15px 0;
			color:#283554;}
			
			
		/*補足説明*/	
		
		#mu_top_explain_list1_in{
			width:100%;
			max-width:1100px;
			margin:0 auto;
			text-align:center;}
			
		#mu_top_explain_list3{
			width:100%;
			height:350px;
			background-image:url(../img/mindup/explain/explain_03.jpg);
			background-size: cover;
			background-position:center;
			background-repeat:no-repeat;}
			
		#mu_top_explain_list3_smt{
			width:100%;
			height:auto;
			background-image:url(../img/mindup/explain/explain_03_smt.jpg);
			background-size: cover;
			background-position:center;
			background-repeat:no-repeat;}
			
			
		/*成分詳細*/		
	
	    #element2_list1{}
		 
			
		#element2_list2 ul{
			margin-top:10px;}
	
	
		/*ユーザーボイス*/
		
		#mu_uservoice{
			width:100%;
			background-color:#FFF;
			padding:0;
			margin:0 auto;
			text-align:center;}
			
	
	
		/*Q&A*/	
		
		#mu_qanda{
			width:90%;
			margin:40px 5%;
			font-size:12px;
			font-weight:bold;}
			
		#mu_qanda img{
			text-align:center;
			width:60%;
			margin:0 20% 40px 20%;}
		
		#mu_qanda label{
			background:#EEE;
			display: block;
			padding: 8px 20px;
			margin-bottom:10px;
			cursor: pointer;}
			
			
		#mu_qanda input[type="checkbox"].on-off,
		#mu_qanda input[type="checkbox"].on-off +div{
			display: none;}
			
			
		#mu_qanda input[type="checkbox"].on-off:checked +div{
			display: block;}
			
		#mu_qanda div{
			margin: 0 0 10px;
			padding-left:30px;}
			
			
		/*LAST*/	
		
		#mu_month img{
			width:40%;
			padding:50px 20%;}
		
		#mu_last_pdt{
			width:90%;
			margin:60px 5%;
			text-align:center;}

		
	/*お問い合わせボタン*/
		#contact_btn p{
			width:100%;
			margin:30px 0;
			padding:20px 0;
			color:#006;
			font-weight:bold;
			background-color:#deebfe;
			text-align:center;}	
			
		#contact_btn p:hover{
			background-color:#c9dafc;}
		
			
        /*FOOTER*/
		
		#lp_footer{
			width:100%;
			color:#333;
			border-top:1px solid #666;
			text-align:center;
			padding:10px 0;
			margin-top:30px;
			font-size:13px;}		
			
		#lp_footer ul:after{display:block;clear:both;content:"";}	
		
		#lp_footer ul{
			width:90%;
			margin:10px 5%;}
		
		#lp_footer ul li{
			float:none;
			padding:5px 5%;}
			
		
		
		/*FORM AREA*/
		
		#mu_lp_form{
			width: 90%;
			margin:0 5%;}

		#mu_lp_form_pc {
			width: 100%;
			margin:0 auto;
		}
			
			
			
		/*	トップページ  */
		
		#top_smp_mainban{
			width:100%;}


        /*	PC版LPフォーム変更 190809 */

        #lpshoppingcolumn {
        	border: 1px solid #aaa !important;
        }

        #lpshoppingcolumn #product_id {
        	font-size: 0.9em !important;
        }

        #lpshoppingcolumn .w98 {
        	width:90% !important;
        }

        #lpshoppingcolumn input[type="text"] {
        	font-size: 0.8em !important;
        }

        #lpshoppingcolumn form .custom-select select {
        	font-size: 0.8em !important;
        }

        #lpshoppingcolumn p {
        	font-size: 0.8em !important;
        }

        #lpshoppingcolumn table th {
        	font-size: 13px !important;
        	padding: 0px 5px 5px 0px !important;
        }

        #lpshoppingcolumn .lp_red　{
        	font-size: 75% !important;
        }

        #lpshoppingcolumn input[type=checkbox] + label {
        	font-size: 0.9em !important;
        }

        .nohyphen {
        	margin: 10px 0 0 7px !important;
        	font-size: 0.8em !important;
        }

        #lpshoppingcolumn .register_btn {
        	width:80% !important;
        }

        #lpshoppingcolumn #quantity {
        	width:65px !important;
        }

        #payment_area #payment_methods em {
        	font-size: 0.6em;
        }

        #payment_area table td {
        	display: block !important;
        	border:none !important;
        }

        #payment_area table td img {
        	width:80%;
        }

        #lpshoppingcolumn .w20 {
        	width:30% !important;
        }


		/* 入力を省略するボタンの先の矢印の大きさ */
		
		#lp-login-forget img {
			width: 19px;
			height: 19px;
		}

		#lpshoppingcolumn .pdt20 img {
			width: 19px;
			height: 19px;
		}